ICE options in SDP offer/answer

Hi,

I think there is a typo when building ICE options in the SDP. In the current version we get them like

`a=ice-options:ice2,trickle`

but according to [RFC8839, section 5.6](https://datatracker.ietf.org/doc/html/rfc8839#name-ice-options-attribute) those options should be separated by space, to look like:

`a=ice-options:ice2 trickle`

Am I missing something?

This would be a simple patch to solve this:

```diff --git a/src/description.cpp b/src/description.cpp
index 4568e7d5..9624deff 100644
--- a/src/description.cpp
+++ b/src/description.cpp
@@ -185,7 +185,7 @@ Description::Description(const string &sdp, Type type, Role role)
                                // RFC 8839: The "ice-options" attribute is a session-level and media-level
                                // attribute.
                                if (mIceOptions.empty())
-                                       mIceOptions = utils::explode(string(value), ',');
+                                       mIceOptions = utils::explode(string(value), ' ');
                        } else if (key == "candidate") {
                                addCandidate(Candidate(attr, bundleMid()));
                        } else if (key == "end-of-candidates") {
```
BR,
Matej


Indeed, thank you for reporting! Fixed by https://github.com/paullouisageneau/libdatachannel/pull/1626. Note the suggested patch only solves parsing, whereas SDP generation has the same issue.