Multiple Turn Server (libnice)

What will be if we add multiple turn server?  Which one will be used?

TURN servers order is randomized before being passed to libnice, but then it depends on the priorities applied by libnice itself. The RFC describing the prioritization of candidates is described in [RFC 8445 section 5.1.2](https://tools.ietf.org/html/rfc8445#section-5.1.2). Basically it will prefer IPv6 if available, but otherwise it should be random.

Actually we are randomizing STUN servers but not randomizing TURN servers and I am not sure if this is a good idea. 
We expect ICE module to select appropriate server.

The entire list is randomized actually even if it's mostly useful to pick a random STUN server. 

The only requirements for ICE agents is to check all TURN servers but use only one of them according to candidate priority, then possibly some local metric like server RTT (Chrome does this for instance, I don't know about libnice), so the order in the list should not matter.

I will make some tests with libnice & report back

It seems libnice selecting fast one. So it is all OK.

I don't think you'll get better compression than with ZSTD nowadays. Maybe LZMA could be a tiny bit better for a higher processing cost.

Are you trying to compress the packets one by one? If so you should a reliable Data Channel (it is by default) and compress eveyrthing as a single stream.

I checked "reliable" options. As I see since library is not using `nice_agent_new_reliable`, it relies on SCTP reliability. Right?

> I checked "reliable" options. As I see since library is not using `nice_agent_new_reliable`, it relies on SCTP reliability. Right?

Yes that's right.

I think what you should do is:
- take the messages one by one
- add a framing protocol (typically prepend a small header with the message size)
- push everything in the compression library input stream
- send compression library output on the datachannel (you don't have to try to respect the messages boundaries), 

And at reception:
- read everything
- push it in the decompression input stream
- separate the messages in the decompressed stream using the framing protocol headers

This should be way more efficient.

I will think on your advice.
Since this issue is clear now, I am closing it.

Thank you very much. 