Candidate parser is too order-dependent

For example, this candidate:

```
candidate:3902535109 1 udp 2122260223 10.0.0.0 32817 generation 0 ufrag wFDM typ host
```

should be valid, but libdatachannel requires that typ come first

Your example candidate is indeed invalid since type must come before extension key-value pairs.

The candidate format is defined in [RFC 8839](https://www.rfc-editor.org/rfc/rfc8839.html#section-5.1) and libdatachannel matches it strictly:
```
candidate-attribute   = "candidate" ":" foundation SP component-id SP
                        transport SP
                        priority SP
                        connection-address SP     ;from RFC 4566
                        port         ;port from RFC 4566
                        SP cand-type
                        [SP rel-addr]
                        [SP rel-port]
                        *(SP cand-extension)

foundation            = 1*32ice-char
component-id          = 1*3DIGIT
transport             = "UDP" / transport-extension
transport-extension   = token              ; from RFC 3261
priority              = 1*10DIGIT
cand-type             = "typ" SP candidate-types
candidate-types       = "host" / "srflx" / "prflx" / "relay" / token
rel-addr              = "raddr" SP connection-address
rel-port              = "rport" SP port
cand-extension        = extension-att-name SP extension-att-value
extension-att-name    = token
extension-att-value   = *VCHAR
ice-char              = ALPHA / DIGIT / "+" / "/"
```
